
#text {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#__title {
    color: black;
    font-size: 6vw; /* Responsive font size */
    font-family: 'Inter', sans-serif;
    z-index: 10;
    text-align: center;
    /* Xóa các thuộc tính top, left, transform */
}

/* Responsive cho màn hình nhỏ */
@media (max-width: 600px) {
    #__title {
        font-size: 8vw;
    }
}